@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body{
        @apply text-gray-900;
    }
  }

body {
    font-family: "Figtree", Inter, system-ui, Avenir, Helvetica, Arial,
        sans-serif;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}